body {
    color: white;
}
/* styles where the answers will be */
.choice-container {
    display:flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(118, 118, 163);
    font-size: 3rem;
    min-width: 80rem;
}
/* makes the answer containers grow and have a shadow behind them */
.choice-container:hover {
    curser: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(91, 91, 155);
    transform: scale(1.02);
    transform: transform 100ms;
}
.choice-prefix {
    padding: 2rem 2.5rem;
    color: rgb(0, 0, 0);
    
}
.choice-text {
    padding: 2rem;
    width: 100%;
    color:white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
/* correct answers will be represented by green color change */
.correct {
    background: green;
}
/* incorrect answers will be represented by a red color change */
.incorrect {
    background: red;
}
/* styles the score and timer */
#hud {
    display:flex;
    justify-content: space-between;
}
.hud-prefix {
    text-align:center;
    font-size: 2rem;
}
.hud-main-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}